################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureAlgos.Tests/bin/Debug/netcoreapp3.1
/AzureAlgos.Tests/obj
/AzureAlgos.Algorithms/bin/Debug/netcoreapp3.1
/AzureAlgos.Algorithms/obj
